:root {
    --main-bg-color: #F8F8F9;
}
body {
    margin: 0;
    font-size: 1.1rem;
}
input, button {
    font-size: 1.1rem;
}
li {
    list-style-type: none;
}
ul {
    padding-inline-start: 0;    
}
.logo {
    height: 130px;
    width: 382px;
}
.bottom-form {
    width: 50%;
}
.margin-auto {
    margin: auto;
}
.width50 {
    width: 50%;
}
.aside-image {
    width: 640px;
    height: 100%;
}
.benefit-icon {
    width: 32px;
    height: 32px;
}
.question-icon {
    width: 16px;
    height: 16px;
}
.person-icon {
    width: 48px;
    height: 48px;
}
.main-bg-color {
    background-color: var(--main-bg-color); 
}
.white-color {
    color: #ffffff;
}
.red-color {
    color: #F54949;
}
.green-color {
    color: #0E561A;
}
.red-bg-color {
    background-color: #F54949;
}
.text-underline {
    text-decoration: underline;
}
.flex-center {
    display: flex;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-mobile {
    flex-direction: row;
}
.flex-justify-content {
    justify-content: center;
}
.flex-space-around {
    justify-content: space-around;
}
.mg-bt-2 {
    margin-bottom: 16px;
}
.mr-1 {
    margin-right: 8px;
}
.mt-2 {
    margin-top: 16px;
}
.mt-3 {
    margin-top: 32px;
}
.mt-4 {
    margin-top: 48px;
}
.pd-1 {
    padding: 8px;
}
.pd-2 {
    padding: 16px;
}
.ph-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.ph-3 {
    padding-top: 32px;
    padding-bottom: 32px;
}
.ph-4 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.pd-v-2 {
    padding-right: 16px;
    padding-left: 16px;
}
.border-radius-1 {
    border-radius: 8px;
}
.border-none {
    border: none;
}
.border-box {
    box-sizing: border-box;
}
.solid-border {
    border: 1px solid #E0E0E0;
}
.with-24 {
    width: 24px;
}
.width-100 {
    width: 100%;
}
.fn-sz-12 {
    font-size: 0.75rem;
}
.align-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.pre-wrap {
    white-space: pre-wrap;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
        'section aside';
}
.main-section {
    grid-area: section;
}
.main-aside {
    grid-area: aside;
    text-align: end;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 1rem;
    }
    input, button {
        font-size: 1rem;
    }
    .aside-image {
        display: none;
        margin: auto;
        width: 324px;
        height: 324px;
        padding-bottom: 32px;
    }
    .logo {
        height: 112.5px;
        width: 286px;
    }
    .flex-mobile {
        flex-direction: column;
    }
    .bottom-form {
        width: 90%;
    }
    .benefit-icon {
        margin-top: 16px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        'section'
        'aside';
    }   
    .p-inline-start-5 {
        padding-inline-start: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .aside-image {
        width: 392px;
        height: 100%;
    }
}